body {
    background: url(img/paper.png);
}

.me {
    text-align: center;
}

@font-face {
    font-family: arguedemo;
    src: url("font/arguedemo.otf") format("opentype");
}

.text {
    font-family: "arguedemo";
    font-size: 40px;
    text-align: center;
    
    
}

 
.insta {
    text-align: center;
    float: left;
    width: 10%;
    padding-left: 550px;
    margin: 1%;        
}

.facebook {
    text-align: center;
    float: right;
    width: 10%;
    padding-right: 550px;
    margin: 1%;       
}